
$active-element-bg-color: rgba(129, 179, 210, 1);
$active-element-bg-color-hover: rgba(102, 158, 192, 1);
$active-element-bg-color-active: rgba(84, 150, 189, 1);

$video-time-bg-color: rgba(0, 0, 0, 0.6);
$video-time-bar-color: rgba(255, 255, 255, 0.2);
$video-time-slider-color: rgba(255, 255, 255, 1);

$video-control-bar-bg-color: rgba(242, 242, 242, 1);


$title-sedona-background: rgba(222, 236, 245, 1);

$sedona-advantage-bg-color: rgba(238, 238, 238, 1);
$sedona-advantage-bg-color-secondary: rgba(129, 179, 210, 1);

$input-bg-color: rgba(242, 242, 242, 1);
$input-bg-color-hover: rgba(229, 229, 229, 1);
$input-bg-color-active: rgba(213, 213, 213, 1);
$input-textarea-bg-focus: rgba(255, 255, 255, 1);
$input-text-icon-bg-color: rgba(230, 230, 230, 1);
$input-radio-btn-color: rgba(51, 51, 51, 1);

$invalid-message-font-color: rgba(255, 92, 92, 1);

$main-nav-border-top-color: rgba(154, 194, 219, 1);
$main-nav-border-bottom-color: rgba(103, 143, 168, 1);

$sedona-advantage-border-color: rgba(214, 214, 214, 1);

$font-color-base:  rgba(0, 0, 0, 1);

$font-color-secondary: rgba(255, 255, 255, 1);
$font-color-secondary-active: rgba(255, 255, 255, 0.3);

$font-family: "PT Sans", "arial", sans-serif;

$font-size-header: 18px;
$font-size-header-bigger: 21px;
$font-size-regular: 14px;
$font-size-btn: 21px;
$font-size-menu: 18px;
