.feedback-form {
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.feedback-form__fieldset {
  width: 280px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-top: 1px solid $sedona-advantage-border-color;
}

.feedback-form__title {
  text-align: center;
  @include font-style-header;
}

.feedback-form__label {
  padding: 0;
  margin: 0;

  &--text {
    margin-right: 15px;
    @include font-style-regular;
  }
}

.feedback-form__input-text-field {
  width: 320px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.feedback-form__input-text {
  height: 58px;
  margin: 0;
  margin-bottom: 20px;
  border: 4px solid $input-text-bg-color;
  padding-left: 22px;
  background-color: $input-text-bg-color;
  outline: none;
  flex-grow: 1;
  position: relative;
  @include font-style-placeholder;
  z-index: 0;

  &:hover {
    border: 4px solid $input-text-bg-color-hover;
    background-color: $input-text-bg-color-hover;
  }

  &:focus {
    border: 4px solid $input-text-bg-color-hover;
    background: none;
  }

  &--with-icon {

  }

  &--with-icon::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $input-text-icon-bg-color;
    z-index: 20;
  }
}
