.header-top {
  position: relative;
  width: $mobile;
  padding-bottom: 56px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: $tablet;
    padding-bottom: 0px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding-bottom: 0px;
  }
}

.header-top__logo {
  position: absolute;
  display: block;
  width: 102px;
  bottom: -31px;
  right: 50%;
  transform: translateX(50%);

  @media (min-width: $tablet) {
    top: 0px;
  }
}
