.header-bottom {
  width: $mobile;
  height: 299px;
  padding-top: 90px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $title-sedona-background;

  &--secondary {
    height: 106px;
    padding-top: 52px;
  }

  @media (min-width: $tablet) and (max-height: $desktop) {
    width: $tablet;
    height: 518px;
    text-align: center;
    vertical-align: middle;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    height: 518px;
    text-align: center;
    vertical-align: middle;
  }
}

.header-bottom__title {
  width: 282px;
  height: 214px;
}
