.main-nav {
  position: relative;
  font-size: 0px;
}

.main-nav__list {
  width: $mobile;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.main-nav__item {
  border-top: 1px solid $main-nav-border-top-color;
  border-bottom: 1px solid $main-nav-border-bottom-color;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    display: inline-block;
    border: none;

    &--margin-right {
      margin-right: 156px;
    }
  }

  @media (min-width: $desktop) {
    display: inline-block;
    border: none;

    &--margin-right {
      margin-right: 244px;
    }
  }
}

.main-nav__link {
  @include font-style-bold($color: $font-color-secondary, $size: $font-size-menu);
  display: block;
  width: $mobile - 40px;
  padding: 8px 20px;
  background-color: $active-element-bg-color;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  line-height: 39px;

  &:hover {
    background-color: $active-element-bg-color-hover;
  }

  &:active {
    color: $font-color-secondary-active;
    background-color: $active-element-bg-color-active;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 123px;
    padding: 15px;
    background: none;
    line-height: 26px;
    font-size: $font-size-regular;
    color: $font-color-base;

    &:hover {
      background: none;
    }

    &:active {
      color: $font-color-base;
      background: none;
    }
  }

  @media (min-width: $desktop) {
    width: 209px;
    padding: 15px;
    background: none;
    line-height: 26px;
    font-size: $font-size-regular;
    color: $font-color-base;

    &:hover {
      background: none;
    }

    &:active {
      color: $font-color-base;
      background: none;
    }
  }
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 0px;
  z-index: 20;

  &--burger {
    background-image: url(../img/icon-menu.svg);
  }

  &--close {
    background-image: url(../img/icon-cross.svg);
  }

  @media (min-width: $tablet) {
    display: none;
  }
}
