.main-nav {
  position: relative;
}

.main-nav__list {
  width: 320px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 10;
}

.main-nav__item {
  border-top: 1px solid $main-nav-border-top-color;
  border-bottom: 1px solid $main-nav-border-bottom-color;
  text-align: center;

  &:last-child {
    height: 55px;
    border-bottom: none;
  }
}

.main-nav__link {
  display: block;
  height: 36px;
  width: 320px;
  padding-top: 18px;
  background-color: $active-element-bg-color;
  @include font-style-menu;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    background-color: $active-element-bg-color-hover;
  }

  &:active {
    color: $font-color-secondary-active;
    background-color: $active-element-bg-color-active;
  }
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 0px;
  z-index: 20;

  &--burger {
    background-image: url(../img/icon-menu.svg);
  }

  &--close {
    background-image: url(../img/icon-cross.svg);
  }
}
