.photo {
  position: relative;
  width: $mobile - 40px;
  padding: 23px 20px 0 20px;
  border-top: 1px solid $sedona-advantage-border-color;
  font-size: 0px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 324px;
    padding: 0px;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 400px;
    padding: 0px;
    border: none;
  }

  &--big {
    @media (min-width: $tablet) and (max-width: $desktop) {
      width: $tablet;
    }

    @media (min-width: $desktop) {
      width: $desktop;
    }
  }
}

.photo__desc{
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) and (max-width: $desktop) {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 80px;
    padding: 0px 30px 0px 20px;
    background-color: $photo-desc-tablet-bg-color;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 350px;
    height: 80px;
    padding: 0px 30px 0px 20px;
    background-color: $photo-desc-desktop-bg-color;
    position: absolute;
    bottom: 0;
  }

  &--big {
    @media (min-width: $tablet) and (max-width: $desktop) {
      padding: 0 20px;
    }

    @media (min-width: $desktop) {
      width: $desktop - 40px;
      padding: 0 20px;
    }
  }

  &--bg-darker {
    @media (min-width: $tablet) and (max-width: $desktop) {
      background-color: $photo-desc-tablet-bg-color-darker;
    }
  }
}

.photo__img {
  width: $mobile - 40px;
  height: 280px;
  margin-bottom: 19px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 324px;
    height: 267px;
    margin-bottom: 0px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    height: 267px;
    margin-bottom: 0px;
  }

  &--big {
    @media (min-width: $tablet) and (max-width: $desktop) {
      width: $tablet - 120px;
    }

    @media (min-width: $desktop) {
      width: $desktop;
    }
  }
}

.photo__title {
  @include font-style-bold($size: $font-size-regular);
  margin-bottom: 0px;

  @media (min-width: $desktop) {
    color: $font-color-secondary;
  }
}

.photo__autor {
  @include font-style-regular($transform: none);
  margin-top: 10px;
  margin-bottom: 15px;

  @media (min-width: $desktop) {
    color: $font-color-secondary;
  }
}

.photo__like {
  @include font-style-bold($size: $font-size-regular, $transform: none);
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 20px;
  text-decoration: none;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 0px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0px;
    color: $font-color-secondary;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    left: 0;
    bottom: 0;
    background-image: url(../img/icon-like.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
