.sedona-advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
