.video-presentation-clip {
  position: relative;
}

.video-presentation-clip__img {
  position: relative;
  width: 321px;
  height: 201px;
  z-index: -1000;
}

.video-presentation-clip__control__panel {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 156px;
  left: 50%;
  transform: translateX(-50%);
}

.video-presentation-clip__time {
  position: relative;
  width: 236px;
  margin: 0 auto;
  padding: 22px 22px 20px 22px;
  background-color: $video-time-bg-color;
  z-index: 20;
}

.video-presentation-clip__time-bar {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: $video-time-bar-color;
}

.video-presentation-clip__time-slider {
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: $video-time-slider-color;
  position: absolute;
  left: 36px;
  top: -3px;
}

.video-presentation-clip__control-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 234px;
  padding: 23px 23px 23px 25px;
  margin: 0 auto;
  background-color: $video-control-bar-bg-color;
}

.video-presentation-clip__control-btn {
  position: relative;

  &--replay {
    width: 16px;
    height: 20px;
    padding: 0;
    margin-right: 133px;
    border: none;
    outline: none;
    background: none;
    background-image: url(../img/icon-video-replay.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--cc {
    width: 32px;
    height: 20px;
    padding: 0;
    margin-right: 31px;
    border: none;
    outline: none;
    background: none;
    background-image: url(../img/icon-video-subtitles.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fullscreen {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    background-image: url(../img/icon-video-fullscreen.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
